<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Details</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css} "/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class ="container col col-lg-4">
<div class="card" style="margin-top: 40px;">
<img th:src="@{/image/pc.jpg}" class="card-img-top" alt="Software engineering">
  <div class="card-body">
    <span th:utext="${student.firstName}" style="font-weight: bold; font-size: 20px;"></span>
    &nbsp;<span th:utext="${student.lastName}" style="font-weight: bold;font-size: 20px;"></span>
    <br>
    <p class="card-subtitle mb-2 text-muted" th:utext="${student.email}"></p>
    <br>
    <div align="right">
    <a th:href="@{/student/list}" class="btn btn-outline-primary btn-sm">List of students</a>
    </div>
  </div>
</div>

</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>

</body>
</html>